// PRIMARY COLORS
$color-light-red: hsl(356, 100%, 66%); // CTA TEXT
$color-very-light-red: hsl(355, 100%, 74%); //CTA HOVER BACKGROUND
$color-very-dark-blue: hsl(208, 49%, 24%); // HEADINGS

// NEUTRAL COLORS
$color-white: hsl(0, 0%, 100%); // TEXT
$color-grayish-blue: hsl(240, 2%, 79%); //FOOTER TEXT
$color-very-dark-grayish-blue: hsl(207, 13%, 34%); //BODY COPY
$color-very-dark-black-blue: hsl(240, 10%, 16%); // FOOTER BACKGROUND

// GRADIENT
// BACKGROUND GRADIENT - INTRO/CTA MOBILE NAV
$color-very-light-red: hsl(13, 100%, 72%);
$color-light-red: hsl(353, 100%, 62%);

// BACKGROUND GRADIENT - BODY
$color-very-dark-gray-blue: hsl(237, 17%, 21%);
$color-very-dark-saturated-blue: hsl(237, 23%, 32%);

// FONT VARIABLES
$font-primary: 'Overpass',
'sans-serif';

$font-secondary: 'Ubuntu',
'sans-serif';



//Padding


// GENERAL
@mixin transition-basic {
    transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;


    @media only screen and (max-width: $bp-large) {
        // font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        // font-size: 40%;
    }

    @media only screen and (max-width: $bp-small) {
        // font-size: 35%;
    }

}

body {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;





}

main {

    padding-left: 2rem;
    padding-right: 2rem;
}

.page-wrapper {
    // max-width: 1140px;
    margin: 0 auto 0 auto;
    position: relative;




}

.info-top {
    margin-top: 12rem;
    text-align: center;
    margin-bottom: 25rem;

    &__illustration {
        max-width: 100%;
    }

    &__title-h2,
    &__title-h3 {
        color: $color-very-dark-gray-blue;
        font-weight: 500;
        font-size: 2.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 37px;


    }


    &__title-h2 {
        margin-bottom: 5rem;
    }

    &__description {
        color: $color-very-dark-grayish-blue;
        padding: 2rem;
        margin-bottom: 2rem;
    }
}




//SECTION FEATURE
.feature {
    background: url('../images/bg-pattern-circles.svg') 50%, 10% linear-gradient(0deg, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 99%);
    
    text-align: center;
    border-bottom-left-radius: 12rem;
    border-top-right-radius: 12rem;
    min-height: 70vh;
    background-repeat: no-repeat;

    position: relative;

    

    &__image {
        
    }


    &__img {
        max-width: 100%;
        transform: translate(-0%,-50%); // overlap element instead of absolute positioning

    }

    &__content {
        position: absolute;
        top: 250px;
    }

    &__title {
        color: $color-white;
        font-size: 3.2rem;
        font-weight: 300;
    }

    &__description {
        color: $color-white;
        padding: 2rem;
    }
}