// PRIMARY COLORS
$color-light-red: hsl(356, 100%, 66%); // CTA TEXT
$color-very-light-red: hsl(355, 100%, 74%); //CTA HOVER BACKGROUND
$color-very-dark-blue: hsl(208, 49%, 24%); // HEADINGS

// NEUTRAL COLORS
$color-white: hsl(0, 0%, 100%); // TEXT
$color-grayish-blue: hsl(240, 2%, 79%); //FOOTER TEXT
$color-very-dark-grayish-blue: hsl(207, 13%, 34%); //BODY COPY
$color-very-dark-black-blue: hsl(240, 10%, 16%); // FOOTER BACKGROUND

// GRADIENT
// BACKGROUND GRADIENT - INTRO/CTA MOBILE NAV
$color-very-light-red: hsl(13, 100%, 72%);
$color-light-red: hsl(353, 100%, 62%);

// BACKGROUND GRADIENT - BODY
$color-very-dark-gray-blue: hsl(237, 17%, 21%);
$color-very-dark-saturated-blue: hsl(237, 23%, 32%);

// FONT VARIABLES
$font-primary: 'Overpass',
'sans-serif';

$font-secondary: 'Ubuntu',
'sans-serif';



//Padding


// GENERAL
@mixin transition-basic {
    transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;


    @media only screen and (max-width: $bp-large) {
        // font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        // font-size: 40%;
    }

    @media only screen and (max-width: $bp-small) {
        // font-size: 35%;
    }

}

body {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
   




}

main {
    
    padding-left: 2rem;
    padding-right: 2rem;
}

.page-wrapper {
    // max-width: 1140px;
    margin: 0 auto 0 auto;
    position: relative;
    
    
    
    
}

.header {
    background: rgb(255, 143, 112);
    background: url('../images/bg-pattern-intro.svg') 40%, 5% linear-gradient(135deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 99%);
    background-repeat: no-repeat;
    min-height: 100vh; // stops sections overlapping header on vertical resize
    border-bottom-left-radius: 15rem;
    
    &__top-container {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 15rem;
        padding: 2rem;

    }
    
    &__hero-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 15rem 1rem 20rem 1rem;
        
               
    }

    &__title {
        color: $color-white;
        font-weight: 600;
        font-family: $font-primary;
    }

    &__title-sub {
        color: $color-white;
        font-weight: 500;
        font-size: 2rem;
        font-weight: 300;
        font-family: $font-primary;
    }

    &__buttons {
           
        margin: 0 auto;
        margin-top: 3rem;
    }

    &__cta-left,
    &__cta-right {
        border: 0;
        padding:2rem;
        cursor: pointer;
        border-radius: 30px;
        font-weight: 600;
        font-size: 1.8rem;
        
        
    }

    &__cta-left {
        background-color: $color-white;
        color: $color-light-red;
        margin-right: 1.2rem;

        &:hover {
            color: $color-white;
            background: rgba(255, 255, 255, 0.1)    /*  10% opaque green */ 
        }
    }

    &__cta-right {
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-white;

        &:hover {
            color: $color-light-red;
            background-color: $color-white;
        }
    }



}