.footer {
    text-align: center;
    background-color: $color-very-dark-black-blue;
    padding: 5rem;
    border-top-right-radius: 12rem;
    

    &__logo {
        margin-bottom: 4rem;
    }

    // &__nav {
       
    // }

    &__title {
        color: $color-white;
        margin-bottom: 2.5rem;
    }

    &__nav-list {
        list-style: none;
        margin-bottom: 2rem;
    }

    // &__item {
        
    // }

    &__link {

        &:link,
        &:visited {
            color: $color-grayish-blue;
            text-decoration: none;

        }

        &:hover,
        &:active {
            border-bottom: 1px solid $color-white;


        }
        
        
    }
}

    




