.footer {
    text-align: left;
    background-color: $color-very-dark-black-blue;
    padding: 5rem;
    border-top-right-radius: 12rem;
    
    @media only screen and (max-width: $bp-largest) {
       text-align: center;
    }

    &__nav {
        @media only screen and (min-width: $bp-largest) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            max-width: 1100px;
            margin: 0 auto;

            // border: 1px solid yellow;
        }
    }

    &__logo {
        @media only screen and (min-width: $bp-largest) {
            margin:0;
        }
        margin-bottom: 4rem;
    }



    &__title-product,
    &__title-company,
    &__title-connect {
        color: $color-white;
        margin-bottom: .5rem;
        @media only screen and (min-width: $bp-largest) {
            margin-bottom: .5rem;
        }
    }

    &__title-product {
        @media only screen and (min-width: $bp-largest) {

        }
    }

    &__title-company {
        @media only screen and (min-width: $bp-largest) {
            // grid-row: 1 / 1;
            // grid-column: 3 / 3;
        }
    }

    &__title-connect {
        @media only screen and (min-width: $bp-largest) {
            // grid-row: 1/ 1;
            // grid-column: 4 / 4;
        }
    }

    &__nav-list {
        list-style: none;
        margin-bottom: 2rem;
    }

    ul.footer__nav-list:nth-child(3) {
        @media only screen and (min-width: $bp-largest) {
            grid-column: 2;
        }

    }




    &__link {

        &:link,
        &:visited {
            color: $color-grayish-blue;
            text-decoration: none;

        }

        &:hover,
        &:active {
            border-bottom: 1px solid $color-white;


        }


    }
}