.header {
    background: rgb(255, 143, 112);
    background: url('../images/bg-pattern-intro.svg') 40%, 5% linear-gradient(135deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 99%);
    background-repeat: no-repeat;
    min-height: 100%; // stops sections overlapping header on vertical resize
    border-bottom-left-radius: 15rem;
    position: relative;

    &__mobile-nav {
        cursor: pointer;

        @media only screen and (min-width: $bp-medium) {
            display: none;
        }
    }

    &__top-container {

        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15rem;
        padding: 2rem;
        max-width: 1100px;
        margin: 0 auto;

    }

    &__hero-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 10rem 1rem 20rem 1rem;


    }

    &__title {
        color: $color-white;
        font-weight: 600;
        font-family: $font-primary;

        @media only screen and (min-width: $bp-medium) {
            font-size: 6rem;
        }
    }

    &__title-sub {
        color: $color-white;
        font-weight: 500;
        font-size: 2rem;
        font-weight: 300;
        font-family: $font-primary;

        @media only screen and (min-width: $bp-medium) {
            font-size: 2.5rem;
        }
    }

    &__buttons {

        margin: 0 auto;
        margin-top: 3rem;
    }

    &__cta-left,
    &__cta-right {
        border: 0;
        padding: 2rem;
        cursor: pointer;
        border-radius: 30px;
        font-weight: 600;
        font-size: 1.8rem;


    }

    &__cta-left {
        background-color: $color-white;
        color: $color-light-red;
        margin-right: 1.2rem;

        &:hover {
            color: $color-white;
            background: rgba(255, 255, 255, 0.1)
                /*  10% opaque green */
        }
    }

    &__cta-right {
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-white;

        &:hover {
            color: $color-light-red;
            background-color: $color-white;
        }
    }



}

.main-nav {
    border: 1px solid white;



    &__list {
        list-style: none;
        padding: 2rem;


    }

    &__item {
        display: inline-block;
        margin-left: 2rem;




    }

    &__link {
        position: relative;

        &:visited,
        &:active {
            color: white;
        }

        &:hover {
            color: red;
        }
        

        &:after {
            content: "";
            width: 10px;
            height: 10px;
            background: url("../images/icon-arrow-light.svg") no-repeat;
            display: inline-block;
            height: 10px;
            position: absolute;
            top: 6px;
            right: -15px;

            
        }

        &:after:hover {
            transform: rotate(180deg);
        }
    }
}