// .info-top > * + * {
//     // margin-bottom: 1rem;
// }

.info-top {
    margin-top: 12rem;
    text-align: center;
    margin-bottom: 25rem;
    padding: 0 $minor-padding 0 $minor-padding;

    &__illustration {
        max-width: 100%;
        margin: 4rem 0 5rem 0;
    }

    &__title-h2,
    &__title-h3 {
        color: $color-very-dark-blue;
        font-weight: 600;
        font-size: 2.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 37px;


    }


    &__title-h2 {
        // margin-bottom: 5rem;
    }

    &__description {
        color: $color-very-dark-grayish-blue;
        padding: 2rem;
        // margin-bottom: 2rem;
    }

    &__description:first-of-type {
        margin-bottom:2.5rem;
    }
}