// INFO BOTTOM


.info-bottom {
    text-align: center;
    padding: 5rem $minor-padding 5rem $minor-padding;

    &__container {

        @media only screen and (min-width: $bp-largest) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 80vw;
            margin: 0 auto;

        }

    }

    &__text-content {
        @media only screen and (min-width: $bp-largest) {
            grid-column: 2 /2;
            grid-row: 1 / 1;
            text-align: left;
            margin-top: 6rem;

        }

    }

    &__image {

        @media only screen and (min-width: $bp-largest) {
            grid-column: 1 / 1;

        }

    }

    &__img {
        max-width: 100%;
        @media only screen and (min-width: $bp-largest) {
            
            min-width: 700px;
        }
    }

    &__title-h2,
    &__title-h3 {
        color: $color-very-dark-blue;
        font-weight: 600;
        font-size: 2.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 37px;


    }


    &__title-h2 {}

    &__description {
        color: $color-very-dark-grayish-blue;
        padding: 2rem;
        margin-bottom: 2rem;
    }
}