// .info-top > * + * {
//     // margin-bottom: 1rem;
// }

.info-top {
    margin-top: 12rem;
    text-align: center;
    margin-bottom: 25rem;
    padding: 0 $minor-padding 0 $minor-padding;


    @media only screen and (min-width: $bp-large) {
       
        margin-bottom: $desktop-element-margin;
        
    }

    &__container {

        @media only screen and (min-width: $bp-largest) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1200px;
            margin: 0 auto;
    
        }
        
    }

    &__illustration {
        max-width: 100%;
        margin: 4rem 0 5rem 0;

        @media only screen and (min-width: $bp-largest) {
            // width: 100%;
            min-width: 600px;
            margin: 0;

        }
    }

    &__image {
        @media only screen and (min-width: $bp-largest) {
            grid-column: 2 / 2;
            text-align: left;
        }
    }

    &__title-h2,
    &__title-h3 {
        color: $color-very-dark-blue;
        font-weight: 600;
        font-size: 2.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 37px;

        // @media only screen and (min-width: $bp-large) {
        //     grid-row: 1 / 1;
        //     grid-column: 1 / -1;
        // }

        @media only screen and (min-width: $bp-largest) {
            margin-bottom: 2rem;
            padding: 0;
        }


    }


    &__title-h2 {
        @media only screen and (min-width: $bp-large) {
            padding: 5rem;
            font-size: 4.5rem;
            text-align: center;
        }
    }

    &__description {
        color: $color-very-dark-grayish-blue;
        padding: 2rem;
        @media only screen and (min-width: $bp-largest) {
            padding: 0;
        }
    }

    &__description:first-of-type {
        margin-bottom: 2.5rem;
    }

    &__text-content {
        @media only screen and (min-width: $bp-largest) {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
            margin-top: 5rem;
            text-align: left;
        }
    }
}